header {
    display: grid;
    grid-template-columns: 1fr minmax(280px, 960px) 1fr;
    background-color: var(--default-white);
    box-shadow: 0px 2px 10px var(--default-gray);
}

nav {
    grid-column: 2;
    background-color: var(--default-white);
}

nav img {
    max-width: 160px;
    padding: 15px 0px;
}